#fixed-top-header{
  display: flex;
  flex:1;
  flex-direction: column;
  align-items: top;
  justify-content:center;
  font-weight:bold;
  font-size: 13px;
  color: #808080;
  position:fixed;
  z-index:9999;
  width:100%;
  height:133px;
  background-color: rgba(248,248,248,0.85);
}

#Logo-on-top{
  display:flex;
  flex:1;
  justify-content:center;
  align-items:center;
  margin-top:-20px;
}

#Gitterwerk-logo{
  height: 100px;
  width:300px;
}

#Navigation-tab{
  display:flex;
  flex:1;
  flex-direction:row;
  justify-content:center;
  align-items:center;
  border: 1px solid gray;
  position:relative;
}

#Tabs-start{
  height: 50px;
  display:flex;
  align-items:center;
  justify-content:center;
  cursor:pointer;
  margin-left: 1px;
  border-left: 1px solid gray;
  border-bottom: 2px solid #9c251d;
  padding: 0px 28px 0px 28px;
}

#Tabs-TG{
  height: 50px;
  display:flex;
  align-items:center;
  justify-content:center;
  cursor:pointer;
  margin-left: 1px;
  border-left: 1px solid gray;
  padding: 0px 28px 0px 28px;
  position:relative;
}

#Tabs-generic{
  height: 50px;
  display:flex;
  align-items:center;
  justify-content:center;
  cursor:pointer;
  margin-left: 1px;
  border-left: 1px solid gray;
  padding: 0px 28px 0px 28px;
}

#Tabs-Contact{
  height: 50px;
  display:flex;
  align-items:center;
  justify-content:center;
  cursor:pointer;
  margin-left: 1px;
  border-left: 1px solid gray;
  padding: 0px 28px 0px 28px;
  position:relative;
}


#Tabs-Grants{
  height: 50px;
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction:row;
  cursor:pointer;
  margin-left: 1px;
  border-left: 1px solid gray;
  padding: 0px 28px 0px 28px;
}

#ESF{
  width:120px;
}

#EFRE{
  margin-top:3px;
  width:150px;
}

#Tabs-start:hover,#Tabs-TG:hover,
#Tabs-generic:hover,#Tabs-Contact:hover,
#Tabs-Grants:hover{
  border-bottom: 2px solid #9e281f;
  opacity:1;
  color:black;
}

#TG-Container{
  display:flex;
  position:absolute;
  align-items:left;
  justify-items:center;
  flex-direction:column;
  text-align:left;
  top:51px;
  left:0px;
  width: 240px;
  margin:0 0 0 0;
  background-color:rgb(248,248,248);
  opacity:0;
  transition:opacity 0.35s;
}

#Product-tab-1, #Product-tab-2,
#Product-tab-3, #Product-tab-4,
#Product-tab-5{
  border: 1px solid black;
  width: 220px;
  height:30px;
  padding-left:20px;
  display:flex;
  align-items:center;
}

#Contact-tab{
  width:95px;
  display:flex;
  align-items:center;
  height:30px;
  text-align:left;
  padding-left: 10px;
  border: 1px solid gray;
}

#Contact-Container{
  display:flex;
  position:absolute;
  align-items:left;
  justify-items:center;
  flex-direction:column;
  text-align:left;
  top:51px;
  left:0px;
  width: 170px;
  margin:0 0 0 0;
  background-color:rgb(248,248,248);
  opacity:0;
  transition:opacity 0.35s;
}

#Contact-tab{
  border: 1px solid black;
  width: 150px;
  height:30px;
  padding-left:20px;
  display:flex;
  align-items:center;
}

#Tabs-TG:hover #TG-Container,
#Tabs-Contact:hover #Contact-Container{
  opacity:1;
  color:gray;
}

  /*Search Button on the right */
#Search-Button{
  height: 50px;
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction:column;
  cursor:pointer;
  margin-left: 1px;
  border-right: 1px solid gray;
  border-left: 1px solid gray;
  padding: 0px 25px 0px 25px;
  position:relative;
}

#Search-icon{
  height:20px;
  display:flex;
  align-items:center;
  justify-content:center;
}

#Search-bar-Container{
  margin-top: 150px;
  position:absolute;
  width: 300px;
  height:75px;
  border: 1px solid gray;
  display:flex;
  align-items: center;
  justify-content: center;
  right:0;
  opacity:0;
  transition:opacity 0.15s;
}

#Search-bar{
  background-color: rgb(248,248,248);
  font-weight: normal;
  width: 215px;
  height: 50px;
  border: 1px solid rgb(238,238,238);
}

#Search-icon-inside-container{
  display:flex;
  align-items:center;
  justify-content:center;
  background-color:#9c251d;
  height: 53.81px;
  width: 53.81px;
}

#Search-Button.active{
  border-bottom: 2px solid #9e281f;
}

#Search-Button.active #Search-bar-Container{
  opacity:1;
} 

