#toTopBtn{
  width:50px;
  height:50px;
  background-color: rgba(125,125,125,0.5);
  position:fixed;
  right:30px;
  bottom: 75px;
  border-radius: 5px;
  cursor:pointer;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease, visibility 0.4s ease;
  border:1px solid rgba(85,85,85,1);
}

.icon-up{
  color:white;
  padding: 8px 10px 10px 8px;
  font-size:35px;
}

#toTopBtn:hover {
  background-color: rgba(230,230,230,0.5);
}

#toTopBtn:hover .icon-up{
  background-color: rgba(255,255,255,0.5);
  color:#9c251d;
}

#toTopBtn.show {
  opacity: 1;
  visibility: visible;
}