#Gitterwerk-section-2{
  display:flex;
  margin-top: -450px;
  border:1px solid gray;
  background-color: rgb(252,252,252);
  height: 480px;
}

#Gitterwerk-section-2-left{
  display:flex;
  flex-direction:column;
  flex:1;
  position:relative;
}

#Title-2-line{
  font-size:20px;
  color: #9c251d;
  text-align:right;
  font-weight:bold;
  position:absolute;
  top:80px;
  right: 50px;
}

#Sec-2-line-circle{
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-items:center;
  position:absolute;
  top:125px;
  right: 50px;
}

#Sec-2-line{
  width: 120px; 
  height: 2px; 
  background-color:rgb(222,222,222); 
  right:0;
}

#Sec-2-circle{
  width: 10px;
  height: 10px;
  border-radius:10px;
  border: 2px solid rgb(222,222,222);
  background-color: white;
  left:0;
  margin:0 0 0 0;
  padding: 0 0 0 0;
}

#Sec-2-Description{
  font-size:15px;
  font-family: Verdana;
  line-height:25px;
  text-align: right;
  color:gray;
  position:absolute;
  top:160px;
  right: 50px;
  padding-left:300px;
}

#Sec-2-line-circle-2{
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-items:center;
  position:absolute;
  top:285px;
  right: 50px;
}

#Sec-2-button-container{
  position:absolute;
  top:325px;
  right: 50px;
}

#Sec-2-button{
  display:flex;
  align-items:center;
  justify-items:center;
  padding:0 15px 0 15px;
  color:white;
  background-color:#9c251d;
  cursor:pointer;
  border:0px;
  border-radius:5px;
  border-bottom-right-radius:5px;
  z-index:10000;
  height:50px;
  position:relative;
  font-size: Verdana;
  font-weight:bold;
  font-size:12px;
}

#Sec-2-button-left{
  display:flex;
  align-items:center;
  justify-items:center;
  padding:0 15px 0 15px;
  color:white;
  background-color:#9c251d;
  cursor:pointer;
  border:0px;
  border-top-left-radius:5px;
  border-bottom-left-radius:5px;
  z-index:10000;
  height:50px;
  width:20px;
  margin-right:-3px;
  opacity:1;
  position:absolute;
  left:-30px;
  z-index:0;
  opacity:0;
  transition:opacity 0.5s, width 0.5s;
}

#Sec-2-button:hover #Sec-2-button-left{
  opacity:1;
  width:30px;
  left:-50px;
}

#Gitterwerk-section-2-center{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  width:100px;
  margin-left:80px;
}

#Icon-sec-2-center-1,#Icon-sec-2-center-2,#Icon-sec-2-center-3, #Icon-sec-2-center-4{
  background-color: #9c251d;
  width:40px;
  height:40px;
  padding: 15px 15px 15px 15px;
  margin: 10px 0 10px 0;
  border-radius: 50px;
  opacity:0;
  transition: opacity 0.3s ease;
}


#Gitterwerk-section-2-right{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  flex:1;
  font-size:Tahoma;
  font-weight:bold;
  font-size: 18px;
  text-align:left;
}

#Slogan-sec-2{
  width:300px;
  height:40px;
  padding: 15px 15px 15px 15px;
  margin: 10px 520px 10px 0px;
  border-radius: 50px;
  display:flex;
  align-items:center;
}
