#Gitterwerk-section-3{
  background-color: lightpink;
  display:flex;
  align-items:center;
  justify-content:center;
  flex:1;
  top:0;
  height:300px;
  background-image:url('gitter_mikroskop.jpg');
  z-index:-1;
  background-attachment: fixed; /* Creates the parallax effect */
  background-position: center;
  background-size:cover;
  background-repeat: no-repeat;
  position:relative;
}

#Section-3-banner{
  background-color: rgba(248,248,248,0.5);
  width:700px;
  height: 150px;
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction:column;
  text-align:center;
}

#Section-3-banner-title{
  font-family:Helvetica;
  font-weight:bold;
  font-size: 28px;
}

#Section-3-banner-description{
  font-family:Helvetica;
  font-weight:bold;
  font-size: 15px;
  margin: 2dvh 20px 10px 20px;
}